In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data=pd.read_csv("../data/raw/train.csv",delimiter=",")

y_train=data["Survived"]
x_train=data.drop(columns=["Survived"])

print(x_train)

     PassengerId  Pclass                                               Name  \
0              1       3                            Braund, Mr. Owen Harris
1              2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3       3                             Heikkinen, Miss. Laina
3              4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5       3                           Allen, Mr. William Henry
..           ...     ...                                                ...
886          887       2                              Montvila, Rev. Juozas
887          888       1                       Graham, Miss. Margaret Edith
888          889       3           Johnston, Miss. Catherine Helen "Carrie"
889          890       1                              Behr, Mr. Karl Howell
890          891       3                                Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0      male  22.0      1      0         A/5 21171   7.2500   NaN        S
1    female  38.0      1      0          PC 17599  71.2833   C85        C
2    female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3    female  35.0      1      0            113803  53.1000  C123        S
4      male  35.0      0      0            373450   8.0500   NaN        S
..      ...   ...    ...    ...               ...      ...   ...      ...
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

In [11]:
#Filling missing values of age and Embarked

x_train["Age"]=x_train.groupby(["Pclass","Sex"])["Age"].transform(lambda x:x.fillna(x.median()))

x_train["Embarked"]=x_train["Embarked"].ffill()

In [12]:
#Feature Engineering
x_train["FamilySize"]=x_train["SibSp"]+x_train["Parch"]+1

x_train["isAlone"]=x_train["FamilySize"]==1

#Extracting Titles from names
x_train["Title"]=x_train["Name"].str.extract(r",\s*([^\.]+)\.")
x_train["Title"]=x_train["Title"].replace(["Mlle","Ms"],"Miss")
x_train["Title"]=x_train["Title"].replace(["Mme"],"Mrs")
#Extracting ticket Class or group
x_train["TicketPrefix"]=x_train["Ticket"].str.extract(r"^([A-Za-z./]+)")
x_train["TicketPrefix"]=x_train["TicketPrefix"].fillna("Unknown")

#Extracting Cabin Floor
x_train["CabinLetter"]=x_train["Cabin"].str[0]
x_train["CabinLetter"]=x_train["CabinLetter"].fillna("Unknown")


x_train=x_train.drop(columns=["SibSp","Parch","Name","Ticket","Cabin"])